.flipbook-viewport
  .container
    .flipbook
      div style="background-image:url('/assets/1.jpg')" 
      div style="background-image:url('/assets/2.jpg')" 
      div style="background-image:url('/assets/3.jpg')" 
      div style="background-image:url('/assets/4.jpg')" 
      div style="background-image:url('/assets/5.jpg')" 
      div style="background-image:url('/assets/6.jpg')" 
      div style="background-image:url('/assets/7.jpg')" 
      div style="background-image:url('/assets/8.jpg')" 
      div style="background-image:url('/assets/9.jpg')" 
      div style="background-image:url('/assets/10.jpg')" 
      div style="background-image:url('/assets/11.jpg')" 
      div style="background-image:url('/assets/12.jpg')"