.sky-header
  width: 90%
  left: 5%
  position: fixed
  z-index: 10
  top: 5%
  background-color: rgba(0, 0, 0, 0.2)
  text-align: left
  height: 46px
  .logo-container
    display: inline-flex
    background-color: white
    vertical-align: top
    .logo-wrapper
      display: inline-block
      padding: 5px
      border-right: 1px solid $lightgray
      img
        width: 38px
    .options-container
      position: relative
      border-left: 1px solid $lightgray
      &:hover
        .title-wrapper
          background-color: $yellowbrown
          color: black
        .options-wrapper
          max-height: 500px
      .options-wrapper
        position: absolute
        top: 100%
        width: 100%
        overflow: hidden
        background: white
        padding: 0px 20px
        max-height: 0px
        .options-title
          font-family: Verlag
          font-weight: 700
          font-size: 16px
          letter-spacing: 1px
          text-transform: uppercase
          color: black
          margin-top: 20px
        .lessons-options
          li
            margin: 5px 0px
            font-family: 'Majesti Banner'
            font-weight: 700
            color: $gray
            cursor: pointer
            +transition(all, 0.2s)
            &:hover
              color: black
            &.actual
              color: black
            &:last-child
              padding-bottom: 20px
    .title-wrapper
      display: inline-block
      color: black
      padding: 0px 12px
      padding-right: 14px
      font-size: 17px
      padding-top: 13px
      padding-bottom: 16px
      font-family: Verlag
      font-weight: 400
      letter-spacing: 1px
      +transition(all, 0.2s)
      &:hover
        background-color: black
        color: white
        cursor: pointer
      a
        color: black
        &:hover
          text-decoration: none
  .sandwish-container
    position: relative
    display: inline-block
    &:hover
      .icon-container
        svg
          fill: $yellowbrown
      .sandwish-options
        max-height: 500px
    .icon-container
      svg
        height: 47px
        margin-left: -15px
        fill: white
        +transition(all, 0.2s)
    .sandwish-options
      position: absolute
      top: 100%
      width: 306px
      margin-top: -4px
      margin-left: -6px
      background-color: white
      max-height: 0px
      overflow: hidden
      +transition(all, 0.2s)
      li
        background-color: white
        padding: 5px 30px
        &:nth-child(1)
          padding-top: 25px
        &:last-child
          padding-bottom: 25px
        a
          color: black
          font-family: Verlag
          font-weight: 400
          text-transform: uppercase
          letter-spacing: 1px
          padding: 2px
          +transition(all, 0.2s)
          &:hover
            background-color: black
            color: white
            text-decoration: none
          &:active
            text-decoration: none
  .links-container
    display: inline-block
    padding-left: 30px
    a
      color: white
      font-size: 14px
      padding-right: 50px
  .right-container
    display: inline-block
    float: right
    color: white
    font-size: 14px
    .user-options-container
      position: relative
      text-align: center
      cursor: pointer
      &:hover
        .user-name-container
          background-color: $yellowbrown
        .user-options
          max-height: 500px
      .user-name-container
        background-color: white
        color: black
        display: inline-block
        padding: 14px
        font-family: Verlag
        font-weight: 400
        +transition(all, 0.2s)
      .user-options
        position: absolute
        top: 100%
        width: 100%
        background: white
        color: black
        max-height: 0px
        overflow: hidden
        +transition(all, 0.2s)
        li
          padding: 10px
          text-align: left
          &:hover
            a
              color: white
              background-color: black
              text-decoration: none
          a
            font-family: Verlag
            font-weight: 400
            color: black
            padding: 2px
            letter-spacing: 1px
            text-transform: uppercase
            +transition(all, 0.2s)
            
  