body, html
	height: 100%
	text-align: center
	#navigation-options
		padding: 10px 20%
		position: fixed
		top: 0
		background: white
		width: 100%
		z-index: 10
		#change-page-wrapper
			display: inline-block
			.pdf-input
				&.inactive
					opacity: 0.2
			#next-page
				margin-left: 5px
				margin-right: 10px
			#page-form
				display: inline
				#current-page
					width: 40px
					text-align: center
			#total-pages
				display: inline-block
				margin-right: 5px
		#slider-wrapper
			display: inline
			#slider
				width: 50%
				display: inline-block
	#book-content
		width: 100%
		line-height: 0px
		display: inline-block
		canvas
			width: 50%
		#loading
			display: none
			#loading-progress
				width: 70%
				margin-left: 15%
#transparency
	width: 100%
	height: 100%
	position: fixed
	top: 44px
	left: 0px
	z-index: 100