body, html
	height: 100%
	text-align: center
	#navigation-options
		padding: 10px 20%
		position: fixed
		top: 0px
		background: white
		width: 100%
		#change-page-wrapper
			display: inline-block
			#next-page
				margin-left: 5px
				margin-right: 10px
			#current-page
				width: 40px
				text-align: center
			#total-pages
				display: inline-block
				margin-right: 5px
		#slider-wrapper
			display: inline
			#slider
				width: 50%
				display: inline-block
	#book-content
		margin-top: 50px
		#book-page
			width: 100%
			display: none
			width: 1080px
		#loading
			display: none
#transparency
	width: 100%
	height: 100%
	position: fixed
	top: 44px
	left: 0px
	z-index: 100