$yellowbrown : #D8BF40
$redtomato : #E6622C
$bluepurple : #499BD8
$blueocean : #3FD1D6
$lightgray : #E5E5E5
$purplegray : #EAEAEA
$janorange: #FF8022
$janorangelight: #FFD3B6
$decblue: #0D83B7
$decbluelight: #9ED1DD