$yellowbrown : #FBAC54
$lightgray : #E5E5E5
$mediumgray : #6D6D6D
$janorange: #FF8022
$janorangelight: #FFD3B6
$decblue: #0D83B7
$decbluelight: #9ED1DD




$redtomato : #E6622C
$bluepurple : #499BD8
$blueocean : #3FD1D6
$purplegray : #EAEAEA

