.lessons-container
  height: 100%
  .lesson-container
    &:before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle
      margin-right: -0.25em
    .lesson-wrapper
      display: inline-block
      vertical-align: middle
      float: none
      margin-left: 0px
      .title
        line-height: initial
        font-size: 45px
        color: black
        font-family: 'Majesti Banner'
        font-weight: 700
        display: inline-block
        border-bottom: solid 1px black
        margin-bottom: 25px
        width: 100%
        padding-bottom: 5px
      .summary
        p
          font-size: 14px
      .options-wrapper
        margin-top: 30px
        border-top: solid 1px black
        overflow: hidden
        padding-bottom: 20px
        .left-options
          float: left
        .right-options
          float: right
        .option
          margin: 10px 0px
          width: 40px
          display: inline-block
          .icon
            width: 100%
            cursor: pointer
            &:hover
              g
                path:nth-child(1)
                  opacity: 0.6  
            g
              path:nth-child(1)
                +transition(all, .2s)
  .lesson-image-wrapper
    height: 100%
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: center center
    +background-size(cover)